# dependencies
/node_modules
/.pnp
.pnp.js
/frontend/node_modules
/frontend/.pnp
.pnp.js
/backend/node_modules
/backend/.pnp
/backend.pnp.js

# testing
/coverage
/frontend/coverage
/backend/coverage
/.scannerwork

# production
/build
/frontend/build
/backend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
