.loginForm {
    margin: 0 auto;
    width: 28rem;
    max-width: 100%;
}

/* Specific screens such as Nest Hub */
@media (max-width: 1024px) and (max-height:600px) {
    .loginWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    /* Prevent loss margin-top for LoginForm */
    .loginSwitchFormsBtns {
        margin-top: 1.5rem;
    }
}

/* Positions form vertically */
@media (max-width: 920px) {
    .loginWrapper {
        min-height: 75dvh;
        min-height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Resizes form for tablets */
@media (min-width: 768px) and (max-width: 912px) and (min-height: 1024px) and (max-height: 1368px) {
    .loginWrapper {
    transform: scale(1.65);
    margin: 4rem auto;
    }
}

/* Retain form's centering for narrower screen widths */
@media (max-width: 300px) {
    .loginForm {
        margin: 0 0.3rem;
    }
}
