/* Styles specific to Login page  */
.loginForm {
    margin: 0 auto;
    width: 28rem;
    max-width: 100%;
}

@media (max-width: 920px) {
    .loginWrapper {
        min-height: 75dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loginSwitchFormsBtns {
        margin-top: 1.5rem;
    }
}

@media (min-width: 921px) and (max-width: 1023px) {
    .loginWrapper {
        transform: scale(1.16);
        margin: 4rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 300px) {
    .loginForm {
        margin: 0 0.3rem;
    }
}