/* Styles specific to Login page  */
.loginWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    padding: 1rem;
}

@media (max-width: 920px) {
    .loginSwitchFormsBtns {
        margin-top: 1.5rem;
    }
}

@media (min-width: 921px) and (max-width: 1023px) {
    .loginWrapper {
        transform: scale(1.16);
        margin: 4rem auto;
    }
}
