/* TODO: Refactor to make responsive across different devices */
/* Styling Note - all styles aim to meet Material Design 3 guidelines.*/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&family=Open+Sans:wght@300;400&display=swap');

/* Original Global color scheme */
:root {
  --primary: #BD7374;
  --error: #A2262C;
  --secondary: #435362;
  --secondary-light: #667B99;
  --secondary-chips: #5C6D84;
}

/* WIP: testing for New Global color scheme #1
TODO: dark mode 
:root {
  --primary: #023047;
  --error: #A2262C;
  --secondary: #054a91;
  --secondary-light: #667B99;
  --secondary-chips: #5C6D84;
}*/

/* Global rules */
body {
  max-width: 100%;
  background-color: #ffffff;
  margin: 0;
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  scrollbar-width: auto;
  scrollbar-color: var(--secondary-light) #f1f1f1;
  ;
}

/* Chrome, Edge, Safari (12/2023) */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 0.3rem;
}

/* Thumb on hover, indicates it's 
"selected" / "active" */
::-webkit-scrollbar-thumb:hover {
  background: #151a1e;
}

/* Primary buttons */
.login-btn,
.signup-btn,
.create-new-btn,
.go-to-edit-btn,
.save-btn {
  background: var(--primary);
  border: 0;
  color: #ffffff;
  text-align: center;
  padding: 1rem 2rem;
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 1.875rem;
  cursor: pointer;
  box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
}

/* Primary buttons hover slightly darker */
.login-btn:hover,
.signup-btn:hover,
.create-new-btn:hover,
.go-to-edit-btn:hover,
.save-btn:hover {
  background: #A96669;
  border: 0.26rem solid var(--secondary);
  box-shadow:
    0rem 0.1875rem 0.375rem 0rem rgba(0, 0, 0, 0.2),
    0rem 0.5rem 0.625rem 0rem rgba(0, 0, 0, 0.14),
    0rem 0.125rem 0.75rem 0rem rgba(0, 0, 0, 0.12);
}

/* Primary buttons active darker still */
.login-btn:active,
.signup-btn:active,
.create-new-btn:active,
.go-to-edit-btn:active,
.save-btn:active {
  background: #954B4C;
  border: 0.26rem solid var(--secondary);
  box-shadow:
    0rem 0.0625rem 0.125rem 0rem rgba(0, 0, 0, 0.2),
    0rem 0.125rem 0.15625rem 0rem rgba(0, 0, 0, 0.14),
    0rem 0.03125rem 0.3125rem 0rem rgba(0, 0, 0, 0.12);
  transform: scale(0.97);
}

/* Secondary buttons (except Logout 
button: see Navbar css module)*/
.reset-table-btn,
.table-pagination-button,
.select-box,
.date-range-btn,
.cancel-btn,
.switch-form-btn {
  background: #fff;
  color: var(--secondary);
  border: 0.1rem solid var(--secondary);
  border-radius: 1.875rem;
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 1rem;
  padding: 1rem 1rem;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.3s;
}

/* Secondary buttons hover state slightly darker */
.reset-table-btn:hover,
.table-pagination-button:hover,
.select-box:hover,
.date-range-btn:hover,
.cancel-btn:hover,
.switch-form-btn:hover {
  background: rgba(119, 141, 165, 0.15);
  color: #37404b;
  border: 0.26rem solid var(--secondary);
  box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
}

/* Secondary buttons active darker still */
.reset-table-btn:active,
.table-pagination-button:active,
.select-box:active,
.date-range-btn:active,
.cancel-btn:active,
.switch-form-btn:active {
  background: rgba(67, 83, 98, 0.2);
  color: #2c333b;
  border: 0.26rem solid var(--secondary);
  transform: scale(0.97);
}

/*nav button {
  border: none;
  color: #ffffff;
  background-color: inherit;
}*/

/* All pages */
.pages {
  max-width: 100%;
  padding: 1.25rem;
  margin: 0 auto 3rem;
  /* clip not hidden ensures both axis can be set */
  overflow-x: clip;
  overflow-y: auto;
}

h1 {
  color: var(--secondary);
  /* Testing for New color scheme #1 
  color: #1178f2;*/
  text-align: center;
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
}

/* Form text inputs */
label,
input,
textarea,
p {
  display: block;
  font-weight: bold;
}

label {
  margin-top: 1rem;
}

input,
textarea {
  font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
  font-size: 1rem;
  /* Min-height meets touch target 44 x 44px for accessibilty
  including any Select box control */
  min-height: 2.75rem;
  padding: 0.625rem;
  margin: 0.312rem auto;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s, color 0.3s, transform 0.3s;
}

textarea {
  resize: none;
}

input:hover,
textarea:hover {
  border-color: var(--secondary);
}

input:focus,
textarea:focus {
  box-shadow: 1px 1px 8px 1px var(--secondary);
  outline: 2px solid var(--secondary);
}

label,
label,
input,
textarea,
p {
  display: block;
  font-weight: bold;
}

label {
  margin-top: 1rem;
}

input,
textarea {
  font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
  font-size: 1rem;
  padding: 0.625rem;
  margin: 0.312rem auto;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s, color 0.3s, transform 0.3s;
}

input:hover,
textarea:hover {
  border-color: var(--secondary);
}

input:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

label,
p {
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  color: var(--secondary);
}

p {
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  color: var(--secondary);
}

/* Mimics paper */
.login-form,
.signup-form,
.content-detail-edit-create-containers {
  background: #fff;
  border-radius: 0.625rem;
  box-shadow:
    0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.2),
    0rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, 0.14),
    0rem 0.0625rem 0.625rem 0rem rgba(0, 0, 0, 0.12),
    0.3125rem 0.3125rem 0.3125rem 0.3125rem #778DA5;
}

/* Create, ContentDetail, Edit pages: */
/* Center and limit width */
.content-detail-edit-create-containers {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto 1rem;
  padding: 2rem;
  max-width: 100%;
}

/* Layout Cancel & Save button container */
.content-detail-edit-create-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  gap: 5%;
}

/* Headings for all fields */
.document-form-headings {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary);
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
}

/* Table related element */
/* Note! Library-provided className: 
   redundant UI elements in the date range indicator */
.rdrInputRange {
  visibility: hidden;
}

/* Tags: display matches library default */
.tag-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-chips);
  color: #ffffff;
  font-weight: bold;
  border-radius: 0.3rem;
  margin: 0rem 0.5rem 0 1rem;
  width: fit-content;
  max-width: 100%;
  min-width: 4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag-chip button {
  display: flex;
  padding: 1rem;
  border: none;
  background-color: unset;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
}

/* ContentDetail & Edit pages: display existing tags */
.content-detail-tags-container,
.edit-document-tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
  max-width: 100%;
}

/* Global Error styling */
div.error {
  padding: 0.625rem;
  background: #ffefef;
  border: 0.06rem solid var(--error);
  color: var(--error);
  border-radius: 0.5rem;
  margin: 1.25rem 0;
}

input.error,
textarea.error {
  border: 0.125rem solid var(--error);
}

/* Error styling specific to ContentDetail & Edit pages */
div.content-detail div.edit input.error,
div.content-detail div.edit textarea.error {
  border: 0.125rem solid var(--error);
}

/* Login & Signup forms */
.signup-form,
.login-form {
  margin: 0 auto;
  width: 28rem;
  max-width: 100%;
  padding: 3rem;
}

.login-signup-title {
  margin: auto;
}

.login-btn,
.signup-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5rem auto 1rem auto;
  gap: 1rem;
}

.switch-form-text-prompt {
  display: block;
  font-size: 1.17rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

.switch-form-btns {
  text-align: center;
  color: var(--secondary);
}

/* Prevent overflow on widest screens */
@media (min-width: 1280px) {
  .content-detail-edit-create-containers {
    max-width: 90%;
  }
}

/* Tablets, Nest Hub etc */
@media (max-width: 1024px) and (max-height:600px) {

  /* Specific to fit form into screen height */
  .pages {
    padding-top: 0;
  }

  /* Reduce height to fit screen size */
  .login-form,
  .signup-form {
    font-size: 1rem;
    padding: 1.5rem 3rem;
    margin: 0 auto 1rem;
  }

  /* Flex row prevents vertical overflow */
  .login-btn,
  .signup-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem auto 0 auto;
    gap: 1rem;
    font-size: 1rem;
  }

  /* Flex-direction: row instead of block columns */
  .switch-form-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  /* Prevent .switch-forms-btns div margins 
  misaligning */
  .switch-form-text-prompt {
    margin: 0;
  }
}

@media (max-width: 400px) {

  /* Widen space for content */
  .content-detail-edit-create-containers {
    padding: 1rem;
  }

  /* Prevent overflow */
  .content-detail-edit-create-btns {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

/* Centering */
@media (max-width: 319px) {

  .login-form,
  .signup-form {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    padding: 2rem;
  }

  .login-btn,
  .signup-btn {
    padding: 1rem;
  }
}