/* Styles specific to navbar */
.header {
  position: sticky;
  top: 0rem;
  z-index: 1;
  background-color: #ffffff;
  color: var(--secondary);
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-top: 1rem;
}

.container {
  margin: 0 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

h1 {
  margin-left: 2rem;
}

/* colors text logout button, removes links underline*/
.link {
  text-decoration: none;
}

.navLogoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  padding: 0.9rem 1rem;
  min-width: 8rem;
  margin: 1rem;
  white-space: nowrap;
}

.navLogoutIcon {
  font-size: 1.5rem;
  padding-right: 0.3rem;
  color: var(--secondary-light);
}

/* Replace flexbox with grid layout, resize elements prevent overflow */
@media (max-width: 800px) {
  .container {
    display: grid;
    /* auto since content size unknown for userEmail element */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }

  .link,
  h1 {
    font-size: 1.5rem;
    grid-row: 1 / 2;
    grid-column: 1;
    margin: auto;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .userEmail {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
  }

  nav .navLogoutButton {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    justify-self: center;
    font-size: 1rem;
    min-width: fit-content;
    margin: 0.5rem;
  }
}

@media (max-width: 560px) {
  /* Prevent overlapping & accidental taps */
  .container {
    gap: 0.5rem;
  }

  h1,
  .link {
    font-size: 1rem;
  }

  .userEmail {
    font-size: 1rem;
  }
}