/* Styles specific to navbar */
/* Fixes to top & styles */
.navbarContainer {
  position: sticky;
  top: 0rem;
  z-index: 1;
  margin: 0 1rem;
  /*padding: 1rem;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /*color: var(--secondary);*/
  background-color: var(--secondary);
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  margin-left: 2rem;
  color: #ffffff;
}

/* Removes bullet points */
.navList {
  list-style: none;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}

/* Removes underline*/
.link {
  text-decoration: none;
}

.navLogoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem 1rem;
  min-width: 8rem;
  /*margin: 1rem;*/
  white-space: nowrap;
}

.navLogoutIcon {
  font-size: 1.5rem;
  padding-right: 0.3rem;
  color: var(--secondary-light);
}

.userEmail {
  color: #ffffff;
}

/* Hamburger menu toggles dropdown containing
logout button, restyled as an option  */
@media (max-width: 560px),
(max-height: 640px) {

  .navbarContainer {
    padding: 0 1rem;
    margin: 0;
    height: 3rem;
    width: 100%;
  }

  h1 {
    font-size: 1rem;
    color: #ffffff;
    margin: 0;
  }

  /* Replaced by hamburger menu until toggled open */
  nav ul {
    display: none;
  }

  /* Toggles dropdown */
  nav ul.open {
    position: absolute;
    top: 3rem;
    right: 0;
    max-width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 0;
  }

  /* Position, size & layout hamburger menu symbol */
  nav .navMenu {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.75rem;
    height: 1.5rem;
  }

  /* Creates the 3 hamburger 'bars' */
  nav .navMenu span {
    height: 0.4rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.2rem;
  }

  /* Appearance like an option in dropdown instead of button */
  /* Border removed in global.css media query */
  nav .navLogoutButton {
    margin: 0;
    background-color: var(--secondary-light);
    color: white;
    width: 100%;
  }

  /* WIP TODO add microaction effects
nav .navLogoutButton:active {
    background-color: var(--secondary);
  } */

  nav .navLogoutIcon {
    color: #ffffff;
  }

/* TODO: place in navbar o/s ul */ 
/*nav .userEmail {
    position: absolute;
    top: -40px;
    right: 65px;
    color: #ffffff;
  }*/
}