/* Styles specific to table Global Filter */
  .globalFilterDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .globalFilterInput
  /*.globalFilterSpan */{
    outline: none;
    box-shadow: none;
    /*width: 20rem;*/
    width: fit-content;
    font-size: 1.25rem;
    margin-left: 0.625rem;
    
  }
  
  /* Prevent input overflowing Options Container */
  @media (max-width: 592px) {
    .globalFilterInput {
      width: 100%;
    }
  }
  
 

  