/* Styles specific to opened modal for DateRangeFilter */
.modalContainer {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; 
  background: white;
  padding: 1rem;
  border-radius: 10%;
}

.closeDateRangeBtn {
    position: absolute; 
    top: 8.75rem;
    right: 0;
    left: 15rem;
    border: none;
    margin: 0.5rem 0;
    cursor: pointer;
    padding: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }

  .closeDateRangeBtnIcon {
    color: var(--secondary-light);
  }

  /* Overlays modal */
  .closeDateRangeBtn,
  .closeDateRangeBtnIcon {
    z-index: 1001;
  }

 /* hides as per client spec */
@media (max-width: 780px) {
  .closeDateRangeBtn,
  .closeDateRangeBtnIcon  {
     display: none;
   }
 }