 /* TODO  
 1. Review for redundancy and DRY principle
 3. brief: deskop/ laptop/ tablet version,meet client re add media queries */

 @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&family=Open+Sans:wght@300;400&display=swap');

 /* general color scheme */
 :root {
   --primary: #BD7374;
   --error: #A2262C;
   --secondary: #435362;
   --secondary-light: #667B99;
   --secondary-chips: #5C6D84;
 }

 body {
   background-color: #ffffff;
   margin: 0;
   font-family: "Open Sans", "Helvetica", Arial, sans-serif;
 }

 /* primary buttons */
 .login_btn,
 .signup_btn,
 .create_new_btn,
 .go-to-edit-btn,
 .save_btn {
   background: var(--primary);
   border: 0;
   color: #fff;
   text-align: center;
   height: 3rem;
   width: 10rem;
   padding: 0.625rem;
   font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
   font-size: 1.25rem;
   font-weight: bold;
   border-radius: 1.875rem;
   cursor: pointer;
   box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.2); /* revised shadow for a subtle lift */
   opacity: 1;
  transition: background 0.3s, box-shadow 0.3s, transform 0.3s; /* smooth transitions */
 }

/* experiment material.io guidelines for microactions */
/* hover state */
.login_btn:hover,
.signup_btn:hover,
.create_new_btn:hover,
.go-to-edit-btn:hover,
.save_btn:hover {
  background:  #A96669; /* slightly darker color on hover */
  box-shadow: 
    0rem 0.1875rem 0.375rem 0rem rgba(0, 0, 0, 0.2),
    0rem 0.5rem 0.625rem 0rem rgba(0, 0, 0, 0.14),
    0rem 0.125rem 0.75rem 0rem rgba(0, 0, 0, 0.12);
}

/* pressed (active) state */
.login_btn:active,
.signup_btn:active,
.create_new_btn:active,
.go-to-edit-btn:active,
.save_btn:active {
  background:   #954B4C; /* even darker on active */
  box-shadow: 
    0rem 0.0625rem 0.125rem 0rem rgba(0, 0, 0, 0.2),
    0rem 0.125rem 0.15625rem 0rem rgba(0, 0, 0, 0.14),
    0rem 0.03125rem 0.3125rem 0rem rgba(0, 0, 0, 0.12);
  transform: scale(0.98); /* slight scaling to give a pressed effect */
}

 /* secondary buttons */
 nav button,
 .reset_table_btn,
 .table_pagination_button,
 .select_box,
 .date_range_btn,
 .cancel_btn,
 .switch_form_btn {
   background: #fff;
   color:var(--secondary);
   border: 0.1rem solid var(--secondary);
   border-radius: 1.875rem;
   font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
   font-weight: 800;
   font-size: 1rem;
   cursor: pointer;
   /* experiment to meet material.io 3 microaction guidelines */
   transition: background 0.3s, color 0.3s, transform 0.3s; /* smooth transitions */
 }
 /* hover state */
nav button:hover,
.reset_table_btn:hover,
.table_pagination_button:hover,
.select_box:hover,
.date_range_btn:hover,
.cancel_btn:hover,
.switch_form_btn:hover {
  background: rgba(119, 141, 165, 0.15); /* slight tint of the new secondary color */
  color: #37404b; /* manually picked color that's slightly darker than secondary */
  box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.1); /* subtle shadow for a lifted appearance */
}

/* pressed (active) state */
nav button:active,
.reset_table_btn:active,
.table_pagination_button:active,
.select_box:active,
.date_range_btn:active,
.cancel_btn:active,
.switch_form_btn:active {
  background: rgba(67, 83, 98, 0.2); /* darker tint of the new secondary color */
  color: #2c333b; /* manually picked color that's darker than hover */
  transform: scale(0.98); /* slight scaling to give a pressed effect */
}

 /* navbar */
 header {
   position: sticky;
   top: 0rem;
   z-index: 1;
   background-color: #ffffff;
   color: var(--secondary);
   font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
   font-weight: bold;
   margin-top: 1rem;
 }

 header .container {
   max-width: 87.5rem;
   margin: 0 auto;
   padding: 0.625rem 1.25rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 3rem;
 }

 /* colors text logout button, removes links underline*/
 header a {
   color: #BD7374;
   text-decoration: none;
 }

 nav button {
   margin-left: 1rem;
   padding: 0.625rem;
   min-width: 8rem;
 }

 /* footer */
 footer {
   line-height: 0.3rem;
   text-align: center;
   position: fixed;
   left: 0;
   bottom: 0;
   right: 0;
   height: 0.3rem;
   width: 100vw;
   padding: 1.33rem 0.66rem;
   margin-top: 1.25rem;
   background-color: var(--secondary);
   font-family: 'Lexend Deca', Helvetica, Arial, Lucida, sans-serif;
   font-size: 1rem;
   color:#ffffff;
   font-weight: 600;
 }

 footer a {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #ffffff;
   text-decoration: none;
   
 }

 /* all pages */
 .pages {
   max-height: 75vh;
   padding: 1.25rem;
   margin: 0 auto;
  /* experiment */
   overflow-x: hidden;
   overflow-y: auto;
 }

 /* center and limit width of create, read, edit pages*/
 .create,
.read,
.edit {
  max-width: 87.5rem;
  display: block;
  margin: auto;
 }
 
 /* homepage */
 .home {
   display: block;
 }

 .home a {
   color: inherit;
   text-decoration: none;
 }

 /* table */
 /* container for global filter, date range picker, create new button */
 .options_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.3rem;
  margin-bottom: 0.625rem;
}

.options_container .create_new_btn_container .create_new_btn {
  position:fixed;
  top: 8rem;
  right: 1rem;
  z-index: 1000;
 }
 
/* Reset table button */ 
.reset_table_btn {
    width: 9rem;
    padding: 0.625rem;
    margin: 1rem;
  }
  
  /* DateRangePicker div in DateRangeFilter, z index simple positioning */
  .modal {
    position: absolute;
    top: 53%;
    left: 38%;
    transform: translate(-50%, -50%);
    border: solid 1px #778DA5;
    border-radius: 1rem;
    box-shadow:
      0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.2),
      0rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, 0.14),
      0rem 0.0625rem 0.625rem 0rem rgba(0, 0, 0, 0.12),
      0.3125rem 0.3125rem 0.3125rem 0.3125rem #778DA5;
    z-index: 1;
  }
 
 /* DateRangeFilter modal & modal toggle buttons */
 .date_range_btn {
   min-width: 11rem;
   padding: 0.625rem;
 }

 .close_date_range {
  border: none;
  background-color: none; 
  margin: 0.5rem 0;
  cursor: pointer;
  padding: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
 }

 /* hides DateRangePicker 'days until' & 'days from' today div: 
inappropriate for user's filtering needs*/
 .rdrInputRange {
   visibility: hidden;
 }

 /* example mobile view options, moves filter for 'mobile' viewports */
 @media (max-width: 768px) {
   .global_filter_create {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
   }
 }

td {
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #e0e0e0;
}

 /* delete button in table */
 .delete-div {
  margin:auto;
 }

 .delete-span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--secondary);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  transition: background-color 0.3s, color 0.3s;
  color: var(--secondary)
 }

 .delete-span:hover {
  background-color: var(--error);
  color:#ffffff;
 }

 /* dialog box to confirm delete button action */
 .dialog_confirm_delete {
   text-align: center;
   border: 1px solid #BD7374;
   border-radius: 0.625rem;
   padding: 1.5rem 2rem 2rem 2rem;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .confirm_delete {
   color: #BD7374;
   font-weight: bold;
 }

 .confirm_delete_buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 2rem;
 }

 /* experiment to meet material.io guidelines */

 .yes_delete,
.no_cancel_delete {
  border: none;
  border-radius: 1.875rem; 
  font-weight: 500; 
  font-size: 0.875rem; 
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  padding: 1rem; 
  margin: 0.25rem; 
  cursor: pointer; 
  text-align: center; 
  transition: background-color 0.3s, color 0.3s; 
  display: inline-flex; /* To align icons and text properly */
  align-items: center; 
  justify-content: center; 
}

.yes_delete {
  background-color: var(--error);
  color: #ffffff;
}

.no_cancel_delete {
  background-color: var(--primary);
  color: #ffffff;
  font-weight: 800;
}

.yes_delete:hover,
.no_cancel_delete:hover {
  background-color: #d9534f; /* Slightly darken on hover */
}

.yes_delete:active,
.no_cancel_delete:active {
  background-color: #c9302c; /* Even darker on active */
  transform: scale(0.98); /* Slight scaling to give a pressed effect */
}

.dialog-button-icon {
  margin-right: 0.5rem; /* Space between icon and text */
}

.delete-span .dialog-button-icon {
  margin-right: 0;
  display: block;
  margin: auto;
}

 .create_new_btn {
  min-width: 12rem;
 }

 /* pagination options buttons */
 .table_pagination_button,
 .select_box {
   font-size: 1rem;
   padding: 0.625rem;
   margin: 1rem;
   min-width: 6em;
 }

 /* other pages and tags */
 /* read page */
 .read {
   background: #fff;
   border-radius: 0.625rem;
   padding: 2rem;
   position: relative;
   box-shadow:
     0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.2),
     0rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, 0.14),
     0rem 0.0625rem 0.625rem 0rem rgba(0, 0, 0, 0.12),
     0.3125rem 0.3125rem 0.3125rem 0.3125rem #778DA5;
 }

 .document_form_headings {
   font-size: 1.5rem;
   font-weight: bold;
   color: #435362;
   font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
 }

 .read_tags_label {
  margin: 1rem 0 1rem 1.3rem;
 }

 .read_title {
   font-size: 1.5rem;
   font-weight: bold;
   margin: 1.3rem;
   max-height: 2rem;
   max-width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }

 .read_body {
  font-size: 1.25rem;
   max-width: 100%;
   white-space: normal;
   margin: 1.3rem; 
   white-space: pre-wrap;
 }

 /* tags display matches default from react-select Creatable */
 .tag-chip {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 1rem;
   line-height: 2rem;
   background-color: var(--secondary-chips);
   color: #ffffff;
   font-weight: bold;
   border-radius: 0.3rem;
   padding: 0.625rem;
   margin: 0rem 0.5rem 0 1rem;
   min-width: 4em;
   max-width: auto;
 }

.tag-chip button {
   display: flex;
   padding: 6px;
   border: none;
   background-color: unset;
   cursor: pointer;
   color: #ffffff;
   font-weight: bold;
 }

 /* specific to table tags column to prevent overflow */
 .table-tags-container .tag-chip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

 /* display tags in Read experimenting with adding edit's document-tags*/
 .read-tags-container, 
 .document-tags {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: wrap;
   row-gap: 1rem;
 }

 /* CreateNew */
 .tags_section_container {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 /* ExperimentalAllTagsSelect*/
 .select-container {
   border-radius: 0.625rem;
   margin: 1rem 0;
   /*overflow: hidden;*/
 }

/* handles display of Creatable & existing tags in Edit */
 .input-tags-container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   border: none;
   padding: 0.25rem;
   border-radius: 4px;
 }

 .document-tags {
  display: flex;
  justify-content: space-around;
  align-items: center; 
 }

 /* Edit page - hides div containing existing tags if all are deleted */ 
 .hidden {
  display: none;
 }

 /* buttons specific to read, edit & create new pages */
 .cancel_btn {
   padding: 0.625rem;
   width: 6rem;
 }

 .read_edit_create_btns {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 2rem;
 }

 /* create new form  */
 h1 {
   color: #435362;
   font-weight: 900;
   text-align: center;
   font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
 }

 /* create new and edit forms  */
 label,
 input,
 textarea,
 p {
   display: block;
   font-weight: bold;
 }

 label {
  margin-top: 1rem;
 }

 input,
 textarea {
   font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
   font-size: 1rem;
   padding: 0.625rem;
   margin: 0.312rem auto;
   width: 100%;
   border: 1px solid #ddd;
   border-radius: 0.5rem;
   box-sizing: border-box;
   outline: none;
   transition: border-color 0.3s, color 0.3s, transform 0.3s;
   /*max-height: 2rem;*/
 }

 input:hover,
 textarea:hover {
  border-color: var(--secondary);
 }

 input:focus,
 textarea:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
 }

 label,
 p {
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  color:var(--secondary);
 }

 /* error styling */
 div.error {
   padding: 0.625rem;
   background: #ffefef;
   border: 0.06rem solid var(--error);
   color: var(--error);
   border-radius: 0.5rem;
   margin: 1.25rem 0;
 }

 input.error,
 textarea.error {
   border: 0.125rem solid var(--error);
 }

 div.read div.edit input.error,
 div.read div.edit textarea.error {
   border: 0.125rem solid var(--error);
}

 /* temporary auth forms */
 form.signup,
 form.login {
   max-width: 30rem;
   margin: 2rem auto;
   padding: 3rem;
   background: #fff;
   border-radius: 0.625rem;
   box-shadow:
     0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.2),
     0rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, 0.14),
     0rem 0.0625rem 0.625rem 0rem rgba(0, 0, 0, 0.12),
     0.3125rem 0.3125rem 0.3125rem 0.3125rem #778DA5;
 }

 .login_btn,
 .signup_btn {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin: 1.5rem auto 1rem auto;
 }

 .switch_form_btns {
   text-align: center;
   color: #435362;
 }

 .switch_form_btn {
   padding: 0.625rem;
   min-width: 8rem;
 }