/* TODO: make responsive */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&family=Open+Sans:wght@300;400&display=swap');

/* Notes 
  - general aim to simulate Material Design 3 guidelines
  .primary class currently not defined, is no-op placeholder in form error handling, 
   can be styled later if required 
 */

/* general color scheme */
:root {
  --primary: #BD7374;
  --error: #A2262C;
  --secondary: #435362;
  --secondary-light: #667B99;
  --secondary-chips: #5C6D84;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
}

/* primary buttons */
.login-btn,
.signup-btn,
.create-new-btn,
.go-to-edit-btn,
.save-btn {
  background: var(--primary);
  border: 0;
  color: #fff;
  text-align: center;
  height: 3rem;
  width: 10rem;
  padding: 0.625rem;
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 1.875rem;
  cursor: pointer;
  box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
}

/* primary buttons hover slightly darker */
.login-btn:hover,
.signup-btn:hover,
.create-new-btn:hover,
.go-to-edit-btn:hover,
.save-btn:hover {
  background: #A96669;
  box-shadow:
    0rem 0.1875rem 0.375rem 0rem rgba(0, 0, 0, 0.2),
    0rem 0.5rem 0.625rem 0rem rgba(0, 0, 0, 0.14),
    0rem 0.125rem 0.75rem 0rem rgba(0, 0, 0, 0.12);
}

/* primary buttons active darker still */
.login-btn:active,
.signup-btn:active,
.create-new-btn:active,
.go-to-edit-btn:active,
.save-btn:active {
  background: #954B4C;
  box-shadow:
    0rem 0.0625rem 0.125rem 0rem rgba(0, 0, 0, 0.2),
    0rem 0.125rem 0.15625rem 0rem rgba(0, 0, 0, 0.14),
    0rem 0.03125rem 0.3125rem 0rem rgba(0, 0, 0, 0.12);
  transform: scale(0.98);
}

/* secondary buttons */
nav button,
.reset-table-btn,
.table-pagination-button,
.select-box,
.date-range-btn,
.cancel-btn,
.switch-form-btn {
  background: #fff;
  color: var(--secondary);
  border: 0.1rem solid var(--secondary);
  border-radius: 1.875rem;
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.3s;
}

/* secondary buttons hover state slightly darker */
nav button:hover,
.reset-table-btn:hover,
.table-pagination-button:hover,
.select-box:hover,
.date-range-btn:hover,
.cancel-btn:hover,
.switch-form-btn:hover {
  background: rgba(119, 141, 165, 0.15);
  color: #37404b;
  box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
}

/* secondary buttons active darker still */
nav button:active,
.reset-table-btn:active,
.table-pagination-button:active,
.select-box:active,
.date-range-btn:active,
.cancel-btn:active,
.switch-form-btn:active {
  background: rgba(67, 83, 98, 0.2);
  color: #2c333b;
  transform: scale(0.98);
}

/* navbar */
header {
  position: sticky;
  top: 0rem;
  z-index: 1;
  background-color: #ffffff;
  color: var(--secondary);
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-top: 1rem;
}

header .container {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0.625rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

/* colors text logout button, removes links underline*/
header a {
  color: #BD7374;
  text-decoration: none;
}

nav button {
  margin-left: 1rem;
  padding: 0.625rem;
  min-width: 8rem;
}

/* footer */
footer {
  line-height: 0.3rem;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0.3rem;
  width: 100vw;
  padding: 1.33rem 0.66rem;
  margin-top: 1.25rem;
  background-color: var(--secondary);
  font-family: "Lexend Deca", Helvetica, Arial, Lucida, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
}

/* all pages */
.pages {
  max-height: 75vh;
  padding: 1.25rem;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

/* center and limit width of create, content detail, edit pages*/
.create,
.content-detail,
.edit {
  max-width: 87.5rem;
  display: block;
  margin: auto;
}

/* homepage */
.home {
  display: block;
}

.home a {
  color: inherit;
  text-decoration: none;
}

/* container for global filter, date range picker, create new button */
.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.3rem;
  margin-bottom: 0.625rem;
}

/* Reset table button */
.reset-table-btn {
  width: 9rem;
  padding: 0.625rem;
  margin: 1rem;
}

/* table's Global Filter */
.global-filter-input {
  outline: none;
  box-shadow: none;
  width: 20rem;
  font-size: 1rem;
  margin-left: 0.625rem;
}

.global-filter-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.global-filter-span {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.625rem;
}

/* DateRangePicker div in DateRangeFilter, z index simple positioning */
.modal {
  position: absolute;
  top: 53%;
  left: 38%;
  transform: translate(-50%, -50%);
  border: solid 1px #778DA5;
  border-radius: 1rem;
  box-shadow:
    0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.2),
    0rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, 0.14),
    0rem 0.0625rem 0.625rem 0rem rgba(0, 0, 0, 0.12),
    0.3125rem 0.3125rem 0.3125rem 0.3125rem #778DA5;
  z-index: 1;
}

/* DateRangeFilter modal & modal toggle buttons */
.date-range-btn {
  min-width: 11rem;
  padding: 0.625rem;
}

.close-date-range-btn {
  border: none;
  background-color: none;
  margin: 0.5rem 0;
  cursor: pointer;
  padding: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

/* library className 
 hides DateRangePicker 'days until' & 'days from' today div: */
.rdrInputRange {
  visibility: hidden;
}

.close-date-range-btn-icon {
  color: var(--secondary-light);
}

.calendar-icon {
  color: var(--secondary-light);
}

.create-new-btn {
  min-width: 12rem;
}

/* table sort buttons */
.sort-icon {
  color: var(--secondary-light);
  cursor: pointer;
}

/* tags column */
.table-tags-container {
  display: flex;
  flex-wrap: wrap;
}

/* entire table */
.table-container {
  width: 100%;
  border: solid 1px white;
  border-radius: 0.625rem;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12),
    0.3125rem 0.3125rem 0.3125rem 0.3125rem #778DA5;
}

.table-no-gaps {
  width: 100%;
  border-spacing: 0;
}

.table-header {
  white-space: nowrap;
  border-bottom: solid 3px #BD7374;
  background: white;
  color: #435362;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "Lexend Deca", Helvetica, Arial, Lucida, sans-serif;
  padding: 1rem 0.1rem;
  text-align: center;
}

.table-row {
  max-height: 2rem;
  border-bottom: 1px solid grey;
}

.table-cell {
  padding: 1rem;
}

.table-linked-cell-container {
  max-width: 35rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* specific to table tags column to prevent overflow */
.table-tags-container .tag-chip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

td {
  border-bottom: 1px solid #ddd;
}

/* aligns tags column with Tags Select box in table header */
td.table-cell .table-tags-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
}

tr:hover {
  background-color: #e0e0e0;
}

/* delete button in table */
.delete-div {
  margin: auto;
}

.delete-span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--secondary);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  transition: background-color 0.3s, color 0.3s;
  color: var(--secondary)
}

.delete-span:hover {
  background-color: var(--error);
  color: #ffffff;
}

/* dialog box to confirm delete button action */
.dialog-confirm-delete {
  text-align: center;
  border: 1px solid #BD7374;
  border-radius: 0.625rem;
  padding: 1.5rem 2rem 2rem 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm-delete {
  color: #BD7374;
  font-weight: bold;
}

.confirm-delete-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

/* buttons when delete modal open */
.yes-delete-btn,
.no-cancel-delete-btn {
  border: none;
  border-radius: 1.875rem;
  font-weight: 500;
  font-size: 0.875rem;
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  padding: 1rem;
  margin: 0.25rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.yes-delete-btn {
  background-color: var(--error);
  color: #ffffff;
}

.no-cancel-delete-btn {
  background-color: var(--primary);
  color: #ffffff;
  font-weight: 800;
}

/* darker color hover */
.yes-delete-btn:hover,
.no-cancel-delete-btn:hover {
  background-color: #d9534f;
}

/* brighter color active */
.yes-delete-btn:active,
.no-cancel-delete-btn:active {
  background-color: #c9302c;
  transform: scale(0.98);
}

.dialog-button-icon {
  margin-right: 0.5rem;
}

.delete-span .dialog-button-icon {
  margin-right: 0;
  display: block;
  margin: auto;
}

/* table pagination section */
.pagination {
  text-align: center;
}

.go-to-page-text {
  display: inline-flex;
  align-items: center;
}

.page-input {
  width: 3.125rem;
  margin-left: 0.5rem;
}

.table-pagination-button,
.select-box {
  font-size: 1rem;
  padding: 0.625rem;
  margin: 1rem;
  min-width: 6em;
}

/* toaster toasts */
.toaster {
  color: #ffffff;
}

.toaster-success {
  color: #435362;
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* content detail page */
.content-detail {
  background: #fff;
  border-radius: 0.625rem;
  padding: 2rem;
  position: relative;
  box-shadow:
    0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.2),
    0rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, 0.14),
    0rem 0.0625rem 0.625rem 0rem rgba(0, 0, 0, 0.12),
    0.3125rem 0.3125rem 0.3125rem 0.3125rem #778DA5;
}

.document-form-headings {
  font-size: 1.5rem;
  font-weight: bold;
  color: #435362;
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
}

.content-detail-tags-label {
  margin: 1rem 0 1rem 1.3rem;
}

.content-detail-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.3rem;
  max-height: 2rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-detail-content {
  font-size: 1.25rem;
  max-width: 100%;
  white-space: normal;
  margin: 1.3rem;
  white-space: pre-wrap;
}

/* tags */
/* tags display matches default from react-select Creatable */
.tag-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  line-height: 2rem;
  background-color: var(--secondary-chips);
  color: #ffffff;
  font-weight: bold;
  border-radius: 0.3rem;
  padding: 0.625rem;
  margin: 0rem 0.5rem 0 1rem;
  min-width: 4em;
  max-width: auto;
}
.table-tags-container .tag-chip-table {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  line-height: 2rem; 
  background-color: var(--secondary-chips);
  color: #ffffff;
  font-weight: bold;
  border-radius: 0.3rem;
  padding: 0.625rem;
  margin: 0rem 0.5rem 0 1rem;
  min-width: 4em;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag-chip button {
  display: flex;
  padding: 6px;
  border: none;
  background-color: unset;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
}

/* display tags in Content Detail & Edit pages */
.content-detail-tags-container,
.edit-document-tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
}

/* display tags in CreateNew */
.tags-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ExperimentalAllTagsSelect */
.select-container {
  border-radius: 0.625rem;
  margin: 1rem 0;
}

/* handles display of Creatable & existing tags in Edit */
.input-tags-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: none;
  padding: 0.25rem;
  border-radius: 4px;
}

.document-tags {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Edit page - hides div containing existing tags if all are deleted */
.hidden {
  display: none;
}

/* buttons specific to content detail, edit & create new pages */
.cancel-btn {
  padding: 0.625rem;
  width: 6rem;
}

.content-detail-edit-create-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

/* forms */
/* CreateNew form  */
h1 {
  color: #435362;
  font-weight: 900;
  text-align: center;
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
}

/* CreateNew and Edit forms  */
label,
input,
textarea,
p {
  display: block;
  font-weight: bold;
}

label {
  margin-top: 1rem;
}

input,
textarea {
  font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
  font-size: 1rem;
  padding: 0.625rem;
  margin: 0.312rem auto;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s, color 0.3s, transform 0.3s;
}

input:hover,
textarea:hover {
  border-color: var(--secondary);
}

input:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

label,
p {
  font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
  color: var(--secondary);
}

/* error styling */
div.error {
  padding: 0.625rem;
  background: #ffefef;
  border: 0.06rem solid var(--error);
  color: var(--error);
  border-radius: 0.5rem;
  margin: 1.25rem 0;
}

input.error,
textarea.error {
  border: 0.125rem solid var(--error);
}

div.content-detail div.edit input.error,
div.content-detail div.edit textarea.error {
  border: 0.125rem solid var(--error);
}

/* temporary auth forms */
form.signup,
form.login {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 3rem;
  background: #fff;
  border-radius: 0.625rem;
  box-shadow:
    0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.2),
    0rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, 0.14),
    0rem 0.0625rem 0.625rem 0rem rgba(0, 0, 0, 0.12),
    0.3125rem 0.3125rem 0.3125rem 0.3125rem #778DA5;
}

.login-btn,
.signup-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5rem auto 1rem auto;
}

.switch-form-btns {
  text-align: center;
  color: #435362;
}

.switch-form-btn {
  padding: 0.625rem;
  min-width: 8rem;
}