 /* TODO  
 1. brief: deskop/ laptop/ tablet version,meet client re add media queries */

 @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&family=Open+Sans:wght@300;400&display=swap');

 /* general color scheme */
 :root {
   --primary: #BD7374;
   --error: #A2262C;
 }

 body {
   background-color: #ffffff;
   margin: 0;
   font-family: "Open Sans", "Helvetica", Arial, sans-serif;
 }

 /* all buttons glow when clicked - informs user click 'succesful' */
 button:active,
 /* pagination select*/
 select:active,
 /* table row delete button */
 span.material-symbols-outlined:active {
   box-shadow: 0 0 .2rem #fff,
     0 0 .2rem #fff,
     0 0 2rem #BD7374,
     0 0 0.8rem #BD7374,
     0 0 2.8rem #BD7374,
     inset 0 0 1.3rem #BD7374;
 }

 /* primary buttons */
 .login_btn,
 .signup_btn,
 .create_new_btn,
 .go-to-edit-btn,
 .save_btn {
   background: var(--primary);
   border: 0;
   color: #fff;
   text-align: center;
   height: 3rem;
   width: 10rem;
   padding: 0.625rem;
   font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
   font-size: 1.25rem;
   font-weight: bold;
   border-radius: 1.875rem;
   cursor: pointer;
 }

 /* secondary buttons */
 nav button,
 .table_pagination,
 .select_box,
 .date_range_btn,
 .close_date_range,
 .cancel_btn,
 .switch_form_btn {
   background: #fff;
   color: var(--primary);
   border: 0.125rem solid var(--primary);
   border-radius: 1.875rem;
   font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
   cursor: pointer;
 }

 /* navbar */
 header {
   position: sticky;
   top: 0rem;
   z-index: 1;
   background-color: #ffffff;
   color: #435362;
   font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
   font-weight: bold;
   margin-top: 1rem;
 }

 header .container {
   max-width: 87.5rem;
   margin: 0 auto;
   padding: 0.625rem 1.25rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 3rem;
 }

 /* colors text logout button, removes links underline*/
 header a {
   color: #BD7374;
   text-decoration: none;
 }

 nav button {
   margin-left: 1rem;
   padding: 0.625rem;
   width: 6rem;
 }

 /* footer */
 footer {
   line-height: 0.3rem;
   text-align: center;
   position: fixed;
   left: 0;
   bottom: 0;
   right: 0;
   height: 0.3rem;
   width: 100vw;
   padding: 1.33rem 0.66rem;
   margin-top: 1.25rem;
   background-color: #778DA5;
   font-family: 'Lexend Deca', Helvetica, Arial, Lucida, sans-serif;
 }

 footer a {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #ffffff;
   text-decoration: none;
 }

 .pages {
   max-width: 87.5rem;
   padding: 1.25rem;
   margin: 0 auto;
 }

 /* homepage */
 .home {
   display: block;

 }

 .home a {
   color: inherit;
   text-decoration: none;
 }

 /* table */
 /* container for global filter, date range picker, create new button */
 .options_container {
   display: grid;
   grid-template-columns: 50% auto;
   align-items: center;
   margin-bottom: 1rem;
 }

 .item1 {
   grid-column: 1 / 2;
 }

 .item2 {
   grid-column: 2 / 3;
 }

 .item3 {
   grid-column: 3 / 4;
   justify-self: end;
 }

 /* modal toggle buttons */
 .date_range_btn,
 .close_date_range {
   width: 9rem;
   padding: 0.625rem;
 }

 .modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: solid 1px #778DA5;
   border-radius: 1rem;
   box-shadow:
     0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.2),
     0rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, 0.14),
     0rem 0.0625rem 0.625rem 0rem rgba(0, 0, 0, 0.12),
     0.3125rem 0.3125rem 0.3125rem 0.3125rem #778DA5;
 }

 /* hides DateRangePicker 'days until' & 'days from' today div: 
inappropriate for user's filtering needs*/
 .rdrInputRange {
   visibility: hidden;
 }

 /* example mobile view options, moves filter for 'mobile' viewports */
 @media (max-width: 768px) {
   .global_filter_create {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
   }
 }

 /* pagination options buttons */
 .table_pagination,
 .select_box {
   font-size: 1rem;
   padding: 0.625rem;
   margin: 1rem;
   min-width: 6em;
 }

 /* other pages and tags */
 /* read page */
 .read {
   height: 31.25rem;
   background: #fff;
   border-radius: 0.625rem;
   padding: 1.25rem;
   position: relative;
   margin: 1.3rem;
   box-shadow:
     0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.2),
     0rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, 0.14),
     0rem 0.0625rem 0.625rem 0rem rgba(0, 0, 0, 0.12),
     0.3125rem 0.3125rem 0.3125rem 0.3125rem #778DA5;

 }

 .read_form_headings {
   font-weight: bold;
   margin: 1.6rem 0;
 }

 .read_title {
   color: #435362;
   font-size: 1.5rem;
   font-weight: bold;
   margin: 1.6rem auto;
 }

 /* tags */
 .tags {
   margin-bottom: 2rem;
   border: 0.125rem solid #778DA5;
 }

 .tag-chip {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 1rem;
   line-height: 2rem;
   background-color: #778DA5;
   color: #ffffff;
   font-weight: bold;
   border-radius: 1.875rem;
   padding: 0.625rem;
   margin: 0.5rem 0.5rem 0 0;
   min-width: 4em;
 }

 .read-tags-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
 }
 
 .tag-chip button {
  display: flex;
  padding: 6px;
  border: none;
  background-color: unset;
  cursor: pointer;
  color: #ffffff;
  /*font-weight: 800;*/
 }

 .tags_section_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
 }

 .input-tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0.25rem;
  border-radius: 4px;
}

.input-tags-chip {
  margin-right: 0.5rem;
  margin-top: 0.625rem;
}

.edit_tags {
  border: none;
  outline: none;
  padding: 0.625rem;
  margin-right: 0.5rem;
  background-color: transparent;
  /*flex-grow: 1;*/
  margin: 1rem;
}

/* buttons specific to read, edit & create new pages */
 .read button,
 .cancel_btn {
   padding: 0.625rem;
 }

 .cancel_btn {
   width: 6rem;
 }

 .read_edit_create_btns {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 2rem;
 }

 /* create new form & edit page form */
 h1 {
   color: #435362;
   font-weight: 900;
   text-align: center;
   font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
 }

 label,
 input,
 textarea {
   display: block;
   font-weight: bold;
 }

 input,
 textarea {
   font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
   padding: 0.625rem;
   margin: 0.312rem auto;
   width: 100%;
   border: 1px solid #ddd;
   border-radius: 0.5rem;
   box-sizing: border-box;
 }

 div.error {
   padding: 0.625rem;
   background: #ffefef;
   border: 0.06rem solid var(--error);
   color: var(--error);
   border-radius: 0.5rem;
   margin: 1.25rem 0;
 }

 input.error {
   border: 0.125rem solid var(--error);
 }

 /* temporary auth forms */
 form.signup,
 form.login {
   max-width: 30rem;
   margin: 2rem auto 2rem auto;
   padding: 3rem;
   background: #fff;
   padding: 0.625rem;
   border-radius: 0.625rem;
   box-shadow:
     0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.2),
     0rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, 0.14),
     0rem 0.0625rem 0.625rem 0rem rgba(0, 0, 0, 0.12),
     0.3125rem 0.3125rem 0.3125rem 0.3125rem #778DA5;
 }

 .login_btn,
 .signup_btn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1.5rem auto 1rem auto;
 }

 .switch_form_btns {
   text-align: center;
   color: #435362;
 }

 .switch_form_btn {
   padding: 0.625rem;
   width: 6rem;
 }