/* Styles specific to CreateNew page */
/* Display tags in CreateNew */
.tagsSectionContainer {
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

/* Creates uniform width for this primary button */
.saveBtn {
  padding: 1rem 3.29rem;
  white-space: nowrap;
}

/* Centres ExperimentalAllTagsSelect display */
@media (max-width: 430px) {
  .tagsSectionContainer {
    justify-content: center;
  }
}

/* Desktop first: reduced features */
@media (max-width: 400px) {
  .createNewTagLabel{
    display: none;
  }
}

/* Vertical centering on taller screens */
@media (min-height: 950px) {
  .createNewFormWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75dvh;
  height: 75vh;
  }
}