/* Styles specific to CreateNew page */
/* Display tags in CreateNew */
.tagsSectionContainer {
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

/* Creates uniform width for this primary button */
.saveBtn {
  padding: 1rem 3.29rem;
  white-space: nowrap;
}

/* Centres ExperimentalAllTagsSelect display */
@media (max-width: 430px) {
  .tagsSectionContainer {
    justify-content: center;
  }
}

/* TODO: center form for tall screens */
/*@media (min-height: 950px) {
  .createNewFormWrapper {
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }
}*/