/* Styles specific to content detail page */
.contentDetailTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.3rem;
  max-height: 2rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contentDetailContent {
  font-size: 1.25rem;
  max-width: 100%;
  white-space: normal;
  margin: 1.3rem;
  white-space: pre-wrap;
}

.contentDetailTagsLabel {
  margin: 1rem 0 1rem 1.3rem;
}

/* creates uniform width for this primary button */
.goToEditBtn {
  padding: 1rem 3.29rem;
  white-space: nowrap;
}

@media (max-width: 1007px) {
  .contentDetailTitle,
  .contentDetailContent,
  .contentDetailTagsLabel {
    font-size: 1.25rem;
  }

  .tags,
  .tagChip {
    min-width: fit-content;
    min-height: fit-content;
    line-height: normal;
  }
}

@media (max-width: 400px) {
  .goToEditBtn {
    white-space: nowrap;
    overflow: hidden;
  }
}